name: Deploy App

on:
  workflow_run:
    workflows: ["Provision Infrastructure"]
    types:
      - completed
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4.2.1

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y ansible

      - name: Download Terraform Outputs
        uses: actions/download-artifact@v4.2.1
        with:
          name: terraform-outputs

      - name: Read Outputs
        id: read_outputs
        run: |
          echo "ec2_ip=$(cat ec2_ip.txt)" >> $GITHUB_OUTPUT
          echo "rds_endpoint=$(cat rds_endpoint.txt)" >> $GITHUB_OUTPUT

      - name: Debug Outputs
        run: |
          echo "EC2 IP: ${{ steps.read_outputs.outputs.ec2_ip }}"
          echo "RDS Endpoint: ${{ steps.read_outputs.outputs.rds_endpoint }}"

      - name: Docker Login
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build & Push Backend
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/backend:latest ./backend
          docker push ${{ secrets.DOCKER_USERNAME }}/backend:latest

      - name: Build & Push Frontend
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/frontend:latest ./frontend
          docker push ${{ secrets.DOCKER_USERNAME }}/frontend:latest

      - name: Create Ansible Inventory
        run: |
          echo "[web]" > ansible/inventory.ini
          echo "${{ steps.read_outputs.outputs.ec2_ip }}" >> ansible/inventory.ini
          cat ansible/inventory.ini

      - name: Run Ansible Playbook
        run: |
          ansible-playbook -i ansible/inventory.ini ansible/playbook.yml
        env:
          ANSIBLE_HOST_KEY_CHECKING: False
          SSH_PRIVATE_KEY: ${{ secrets.AWS_SSH_PRIVATE_KEY }}
          DB_USER: ${{ secrets.DB_USERNAME }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_NAME: ${{ secrets.DB_NAME }}
          RDS_ENDPOINT: ${{ steps.read_outputs.outputs.rds_endpoint }}

          #te